# Directories to ignore
Archive/
TransformerModels/
DataPipeline/LogFiles/
Logs/

# Python cache directories
*/__pycache__/
*.pyc

# CSV files
*.csv

# Log files
DownloadTransformer.log
OllamaServe.log

# Ignore test files
test.ipynb
test.py

# macOS specific file to ignore
*.DS_Store
