# Directories to ignore
Archive/
TransformerModels/

# Log files
DataPipeline/LogFiles/
Logs/
*.log

# Python cache directories
*/__pycache__/
*.pyc

# CSV files
*.csv

# Log files
DownloadTransformer.log
OllamaServe.log

# Ignore test files
test.ipynb
test.py
test2.py

# macOS specific file to ignore
*.DS_Store
